@mixin rotate($deg) {
  transform: rotate($deg);
};

@mixin transform($args) {
  -webkit-transform: $args;
          transform: $args;
};

@mixin xTransform($xOffset) {
  @include transform(translateX($xOffset));
}

@mixin yTransform($yOffset) {
  @include transform(translateY($yOffset));
}

