%ul
  %li
    = link_to 'main details', directory_person_path(@person)
  %li
    = link_to 'login', access_directory_person_path(@person)
  %li
    = link_to 'experience', directory_person_path(@person)
  %li
    = link_to 'delete', directory_person_path(@person)
