-# - content_for :header, 'Custom Attributes'
-# - content_for :nav do
-#   %ul#nav
-#     %li
-#     = current_class_for 'top_new_attribute'
-#     \&gt;#{link_to 'ADD ATTRIBUTE', new_attribute_path if has_access? 'super_admin'}
-#   %li
-#   = current_class_for 'top_attributes'
-#   \&gt;#{link_to 'LIST ALL', attributes_path}
