- letters = %w[A B C D E F G H I J K L M N O P Q R S T U V W X Y Z]
%nav
  %p
    Filter by Last Name:
  %p
    - letters.each do |letter|
      = link_for letter, directory_people_path(alpha: letter.downcase), [], class: 'letter'
