/*

Utility classes

[01] Alignment
[02] Visability

------------------------------------------------- */
// @import "_inc";
/*------------------------------------------------- */


/* [01] Alignment
--------------------------------------------------------------------------------------- //// */
.push-left    { float: left }
.push-right   { float: right }

.center-text  { text-align: center }
.left-text    { text-align: left }
.justify-text { text-align: justify }
.right-text   { text-align: right }


/* [02] Visibility
--------------------------------------------------------------------------------------- //// */
/* Standard ------------------------ */
.hide { display: none; }
.show { display: block; }

/* In some instances, a full hiding is necessary to
 * clicking buttons below (z-index) the hidden content.
 */
.hide-inline { visibility: hidden; opacity: 0; }
.show-inline { visibility: visible; opacity: 1; }
